.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; 
  max-height: 3.6em;
}

.card-img-top {
  height: 150px;
  object-fit: contain;
}